################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuggyBits/bin
/BuggyBits/obj
/.vs/BuggyBits/FileContentIndex
